<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title p-2">Contact information</h3>
                        <div class="text-right">
                            <!-- <a href="javascript:void(0)" type="button" class="btn btn-primary create">Add new blog</a> -->
                            <a href="javascript:void(0)" type="button" class="btn btn-dark refresh">Refresh</a>
                        </div>
                    </div>
                    <form method="post" id="frm-example">
                        <div class="card-body">
                            <table class="table data-table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Phone</th>
                                        <th>Published Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ADD/EDIT MODAL -->
    <div class="modal fade" id="add_edit_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Description details</h4>
                    <button type="button" class="close cross" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_edit_form">
                        <div class="col-md-12" style="margin: auto; border:skyblue solid 1px">          
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="store">Description:</label>
                                            <p id="description"><%= data %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="close-btn btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <input type="submit" class="save btn btn-primary" value=""> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ADD/EDIT MODAL OVER -->
</section>